In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Renamed the data set for cleaning. 

df = pd.read_csv(r"/Users/Liz/Desktop/Women +/Assignment 4/cleaning-data-checkpoint3/4Clean.csv")

pd.options.display.max_columns = 100
df02 = df.drop(['Hobbies','Mobile Number','Email'], axis = 1)

print(df02['Age'].min())
print(df02['Age'].max())
print(df02['Age'].mean())
#I'm running this to add some variety to my age/department/gender numbers in addition to the total

24
65
38.8316

In [4]:
print (df02.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  10000 non-null  int64
 1   Name                10000 non-null  object
 2   Surname             10000 non-null  object
 3   Division            10000 non-null  object
 4   Manager             10000 non-null  object
 5   Gender              10000 non-null  object
 6   Sexual_Orientation  10000 non-null  object
 7   LGBTQ               10000 non-null  object
 8   Indigenous          10000 non-null  object
 9   Ethnicity           10000 non-null  object
 10  Disability          10000 non-null  object
 11  Minority            10000 non-null  object
 12  Veteran             10000 non-null  object
 13  Date of Birth       10000 non-null  object
 14  Age                 10000 non-null  int64
 15  Preferred Name      10000 non-null  object
 16  Nationality         10000 non-null  object
 17  Pronouns            10000 non-null  object
 18  Aug_D_Q1            10000 non-null  int64
 19  Aug_D_Q2            10000 non-null  int64
 20  Aug_D_Q3            10000 non-null  int64
 21  Aug_D_Q4            10000 non-null  int64
 22  Aug_D_Q5            10000 non-null  int64
 23  D_Negative          10000 non-null  int64
 24  D_Neutral           10000 non-null  int64
 25  D_Positive          10000 non-null  int64
 26  Aug_E_Q1            10000 non-null  int64
 27  Aug_E_Q2            10000 non-null  int64
 28  Aug_E_Q3            10000 non-null  int64
 29  Aug_E_Q4            10000 non-null  int64
 30  Aug_E_Q5            10000 non-null  int64
 31  E_Negative          10000 non-null  int64
 32  E_Neutral           10000 non-null  int64
 33  E_Positive          10000 non-null  int64
 34  Aug_I_Q1            10000 non-null  int64
 35  Aug_I_Q2            10000 non-null  int64
 36  Aug_I_Q3            10000 non-null  int64
 37  Aug_I_Q4            10000 non-null  int64
 38  Aug_I_Q5            10000 non-null  int64
 39  I_Negative          10000 non-null  int64
 40  I_Neutral           10000 non-null  int64
 41  I_Positive          10000 non-null  int64
dtypes: int64(26), object(16)
memory usage: 3.2+ MB
None

In [5]:
df02['LGBTQ'].value_counts(normalize=True)*100

No                   81.77
Yes                  11.75
Prefer not to say     6.48
Name: LGBTQ, dtype: float64

In [6]:
df02['Indigenous'].value_counts(normalize=True)*100

No                   94.23
Yes                   4.94
Prefer not to say     0.83
Name: Indigenous, dtype: float64

In [7]:
df02['Ethnicity'].value_counts(normalize=True)*100

White                70.92
Asian                17.18
Black                 4.16
Middle Eastern        3.52
Latin                 2.09
Prefer not to say     1.08
Other                 1.05
Name: Ethnicity, dtype: float64

In [8]:
df02['Disability'].value_counts(normalize=True)*100

No                   81.71
Yes                  15.45
Prefer not to say     2.84
Name: Disability, dtype: float64

In [10]:
df02['Minority'].value_counts(normalize=True)*100

No                   98.10
Prefer not to say     0.97
Yes                   0.93
Name: Veteran, dtype: float64

In [11]:
df02['Veteran'].value_counts(normalize=True)*100

No                   98.10
Prefer not to say     0.97
Yes                   0.93
Name: Veteran, dtype: float64

In [12]:
df02['Nationality'].value_counts(normalize=True)*100

Canadian     42.92
Indian       10.18
American      9.77
Ukrainian     2.29
Korean        2.23
             ...
Scottish      0.05
Malian        0.05
Austrian      0.04
Belgian       0.04
Spanish       0.03
Name: Nationality, Length: 112, dtype: float64